body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account, .actions {
    margin-top: 20px;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

input, select, button {
    margin: 10px ;
    padding: 5px;
    width: 10%;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#message1 {
    font-weight: bold;
    color: green;
}

#message2 {
    font-weight: bold;
    color: red;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
